<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href='../static/src/images/stock-icon.png' rel="icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<title>Chart</title>
	<style>
		#chartcontrols {
			height: auto;
			padding: 5px 5px 0 16px;
			max-width: 100%;
		}
		
		#chartdiv {
			width: 100%;
			height: 600px;
			max-width: 100%;
		}
	</style>
</head>
<body>
	<!-- HTML -->
	<div style="height: auto; padding: 10px 5px 10px 16px">
		<button type="button" class="btn btn-outline-dark" id="home-btn">←</button>
	</div>
	<div id="chartcontrols"></div>
	<div id="chartdiv"></div>
	
	<!-- Resources -->
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/stock.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-database-compat.js"></script>


	<!-- Chart code -->
	<script>	
		// Your web app's Firebase configuration
		const firebaseConfig = {
			apiKey: "AIzaSyCNXJrWedeiAN_nnR-hkCendonMOMG_YZ4",
			authDomain: "kis-project-29909.firebaseapp.com",
			projectId: "kis-project-29909",
			storageBucket: "kis-project-29909.appspot.com",
			messagingSenderId: "497737048002",
			appId: "1:497737048002:web:4f79613b7c75541873c05b",
			databaseURL: "https://kis-project-29909-default-rtdb.firebaseio.com/"
		};

		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);

		// Initialize Realtime Database and get a reference to the service
		var database = firebase.database();
		var tickers = [];

    const $home = document.getElementById("home-btn");
		
    $home.addEventListener("click",()=>{
        window.location.href = `/`;
    });

		am5.ready(function() {
		// Create root element
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/getting-started/#Root_element
		var root = am5.Root.new("chartdiv");
		
		// Set themes
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/concepts/themes/
		root.setThemes([
			am5themes_Animated.new(root)
		]);
		
		
		// Create a stock chart
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock-chart/#Instantiating_the_chart
		var stockChart = root.container.children.push(am5stock.StockChart.new(root, {
		}));	
		
		
		// Set global number format
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/concepts/formatters/formatting-numbers/
		root.numberFormatter.set("numberFormat", "#,###.00");
		
		
		// Create a main stock panel (chart)
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock-chart/#Adding_panels
		var mainPanel = stockChart.panels.push(am5stock.StockPanel.new(root, {
			wheelY: "zoomX",
			panX: true,
			panY: true
		}));
		
		
		// Create value axis
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
		var valueAxis = mainPanel.yAxes.push(am5xy.ValueAxis.new(root, {
			renderer: am5xy.AxisRendererY.new(root, {
			pan: "zoom"
			}),
			extraMin: 0.1, // adds some space for for main series
			tooltip: am5.Tooltip.new(root, {}),
			numberFormat: "#,###.00",
			extraTooltipPrecision: 2
		}));
		
		var dateAxis = mainPanel.xAxes.push(am5xy.GaplessDateAxis.new(root, {
			baseInterval: {
			timeUnit: "day",
			count: 1
			},
			renderer: am5xy.AxisRendererX.new(root, {}),
			tooltip: am5.Tooltip.new(root, {})
		}));
		
		
		// Add series
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
		var valueSeries = mainPanel.series.push(am5xy.CandlestickSeries.new(root, {
			name: "삼성전자",
			clustered: false,
			valueXField: "Date",
			valueYField: "Close",
			highValueYField: "High",
			lowValueYField: "Low",
			openValueYField: "Open",
			calculateAggregates: true,
			xAxis: dateAxis,
			yAxis: valueAxis,
			legendValueText: "open: [bold]{openValueY}[/] high: [bold]{highValueY}[/] low: [bold]{lowValueY}[/] close: [bold]{valueY}[/]",
			legendRangeValueText:""
		}));
		
		
		// Set main value series
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock-chart/#Setting_main_series
		stockChart.set("stockSeries", valueSeries);
		
		
		// Add a stock legend
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock-chart/stock-legend/
		var valueLegend = mainPanel.plotContainer.children.push(am5stock.StockLegend.new(root, {
			stockChart: stockChart
		}));
		
		
		// Create volume axis
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
		var volumeAxisRenderer = am5xy.AxisRendererY.new(root, {
			inside: true
		});
		
		volumeAxisRenderer.labels.template.set("forceHidden", true);
		volumeAxisRenderer.grid.template.set("forceHidden", true);
		
		var volumeValueAxis = mainPanel.yAxes.push(am5xy.ValueAxis.new(root, {
			numberFormat: "#.#a",
			height: am5.percent(20),
			y: am5.percent(100),
			centerY: am5.percent(100),
			renderer: volumeAxisRenderer
		}));
		
		// Add series
		// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
		var volumeSeries = mainPanel.series.push(am5xy.ColumnSeries.new(root, {
			name: "Volume",
			clustered: false,
			valueXField: "Date",
			valueYField: "Volume",
			xAxis: dateAxis,
			yAxis: volumeValueAxis,
			legendValueText: "[bold]{valueY.formatNumber('#,###.0a')}[/]"
		}));
		
		volumeSeries.columns.template.setAll({
			strokeOpacity: 0,
			fillOpacity: 0.5
		});
		
		// color columns by stock rules
		volumeSeries.columns.template.adapters.add("fill", function(fill, target) {
			var dataItem = target.dataItem;
			if (dataItem) {
			return stockChart.getVolumeColor(dataItem);
			}
			return fill;
		})
		
		
		// Set main series
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock-chart/#Setting_main_series
		stockChart.set("volumeSeries", volumeSeries);
		valueLegend.data.setAll([valueSeries, volumeSeries]);
		
		
		// Add cursor(s)
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/xy-chart/cursor/
		mainPanel.set("cursor", am5xy.XYCursor.new(root, {
			yAxis: valueAxis,
			xAxis: dateAxis,
			snapToSeries: [valueSeries],
			snapToSeriesBy: "y!"
		}));
		
		
		// Add scrollbar
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
		var scrollbar = mainPanel.set("scrollbarX", am5xy.XYChartScrollbar.new(root, {
			orientation: "horizontal",
			height: 50
		}));
		stockChart.toolsContainer.children.push(scrollbar);
		
		var sbDateAxis = scrollbar.chart.xAxes.push(am5xy.GaplessDateAxis.new(root, {
			baseInterval: {
			timeUnit: "day",
			count: 1
			},
			renderer: am5xy.AxisRendererX.new(root, {})
		}));
		
		var sbValueAxis = scrollbar.chart.yAxes.push(am5xy.ValueAxis.new(root, {
			renderer: am5xy.AxisRendererY.new(root, {})
		}));
		
		var sbSeries = scrollbar.chart.series.push(am5xy.LineSeries.new(root, {
			valueYField: "Close",
			valueXField: "Date",
			xAxis: sbDateAxis,
			yAxis: sbValueAxis
		}));
		
		sbSeries.fills.template.setAll({
			visible: true,
			fillOpacity: 0.3
		});

		function convertData(data) {
			const value = data;
			const timelineDataList = [];
			Object.keys(value).forEach(key=>{
				if(key !== 'id' && key !== 'name') {
          timelineDataList.push(value[key])
        }
      })
			const result = timelineDataList.map(d=>{
				return {
					Open:d.open,
					Close:d.close,
					Date:Math.floor(d.date/1000000),
					High:d.high,
					Low:d.low,
					Volume:d.volume
				}
      })

			return result;
    }

		// Function that dynamically loads data
		function loadData(ticker, series, granularity) {
			fetch(`/api/${ticker}`).then((res)=>{return res.json()}).then((get_data)=>{
				const data = convertData(get_data);

				// Set data
				am5.array.each(series, function(item) {
					item.data.setAll(data);
				});
			})
		}
		
		// Load initial data for the first series
		var currentGranularity = "day";
		loadData("005930", [valueSeries, volumeSeries, sbSeries], currentGranularity);
		
		// Add comparing series
		// addComparingSeries("AAPL");
		
		
		// Set up main indices selector
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock/toolbar/comparison-control/
		var mainSeriesControl = am5stock.DropdownListControl.new(root, {
			stockChart: stockChart,
			name: valueSeries.get("name"),
			icon: am5stock.StockIcons.getIcon("Candlestick Series"),
			fixedLabel: true,
			searchable: true,
			searchCallback: function(query) {
			var mainSeries = stockChart.get("stockSeries");
			var mainSeriesID = mainSeries ? mainSeries.get("name") : "";
			var list = getTicker(query);
			am5.array.each(list, function(item) {
				if (item.id == mainSeriesID) {
				item.disabled = true;
				}
			})
			return list;
			}
		});
		
		mainSeriesControl.events.on("selected", function(ev) {
			mainSeriesControl.set("name", ev.item.label);
			valueSeries.set("name", ev.item.label);
			loadData(ev.item.subLabel, [valueSeries, volumeSeries, sbSeries], currentGranularity);
		});
		
		
		// Set up comparison control
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock/toolbar/comparison-control/
		var comparisonControl = am5stock.ComparisonControl.new(root, {
			stockChart: stockChart,
			searchable: true,
			searchCallback: function(query) {
			var compared = stockChart.getPrivate("comparedSeries", []);
			var main = stockChart.get("stockSeries");
			if (compared.length > 4) {
				return [{
				label: "A maximum of 5 comparisons added",
				subLabel: "Remove some to add new ones",
				id: "",
				className: "am5stock-list-info"
				}];
			};
		
			var comparedIds = [];
			am5.array.each(compared, function(series) {
				comparedIds.push(series.get("name"));
			});
		
			var list = getTicker(query);
			am5.array.each(list, function(item) {
				if (comparedIds.indexOf(item.id) !== -1 || main.get("name") == item.id) {
				item.disabled = true;
				}
			})
			return list;
			}
		});
		
		comparisonControl.events.on("selected", function(ev) {
			addComparingSeries(ev.item.subLabel, ev.item.label);
		});
		
		function addComparingSeries(label, label_name){
			var series = am5xy.LineSeries.new(root, {
			name: label_name,
			valueYField: "Close",
			calculateAggregates: true,
			valueXField: "Date",
			xAxis: dateAxis,
			yAxis: valueAxis,
			legendValueText: "{valueY.formatNumber('#.00')}"
			});
			var comparingSeries = stockChart.addComparingSeries(series);
			loadData(label, [comparingSeries], currentGranularity);  
		}
		
		// ticker 전체 목록 불러오기
		fetch(`api/list`).then((res)=>{return res.json()}).then((get_data)=>{
			tickers = get_data;
		})

		function getTicker(search) {
			if (search == "") {
				return [];
			}
			search = search.toLowerCase();
			return tickers.filter(function (item) {
				return item.label.toLowerCase().match(search) || item.subLabel.toLowerCase().match(search);
			});
		}
		
		
		// Set up series type switcher
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock/toolbar/series-type-control/
		var seriesSwitcher = am5stock.SeriesTypeControl.new(root, {
			stockChart: stockChart
		});
		
		seriesSwitcher.events.on("selected", function(ev) {
			setSeriesType(ev.item.id);
		});
		
		function getNewSettings(series) {
			var newSettings = [];
			am5.array.each(["name", "valueYField", "highValueYField", "lowValueYField", "openValueYField", "calculateAggregates", "valueXField", "xAxis", "yAxis", "legendValueText", "stroke", "fill"], function(setting) {
			newSettings[setting] = series.get(setting);
			});
			return newSettings;
		}
		
		function setSeriesType(seriesType) {
			// Get current series and its settings
			var currentSeries = stockChart.get("stockSeries");
			var newSettings = getNewSettings(currentSeries);
		
			// Remove previous series
			var data = currentSeries.data.values;
			mainPanel.series.removeValue(currentSeries);
		
			// Create new series
			var series;
			switch (seriesType) {
			case "line":
				series = mainPanel.series.push(am5xy.LineSeries.new(root, newSettings));
				break;
			case "candlestick":
			case "procandlestick":
				newSettings.clustered = false;
				series = mainPanel.series.push(am5xy.CandlestickSeries.new(root, newSettings));
				if (seriesType == "procandlestick") {
				series.columns.template.get("themeTags").push("pro");
				}
				break;
			case "ohlc":
				newSettings.clustered = false;
				series = mainPanel.series.push(am5xy.OHLCSeries.new(root, newSettings));
				break;
			}
		
			// Set new series as stockSeries
			if (series) {
			valueLegend.data.removeValue(currentSeries);
			series.data.setAll(data);
			stockChart.set("stockSeries", series);
			var cursor = mainPanel.get("cursor");
			if (cursor) {
				cursor.set("snapToSeries", [series]);
			}
			valueLegend.data.insertIndex(0, series);
			}
		}
		
		
		// Stock toolbar
		// -------------------------------------------------------------------------------
		// https://www.amcharts.com/docs/v5/charts/stock/toolbar/
		var toolbar = am5stock.StockToolbar.new(root, {
			container: document.getElementById("chartcontrols"),
			stockChart: stockChart,
			controls: [
			mainSeriesControl,
			comparisonControl,
			am5stock.IndicatorControl.new(root, {
				stockChart: stockChart,
				legend: valueLegend
			}),
			am5stock.DateRangeSelector.new(root, {
				stockChart: stockChart
			}),
			am5stock.PeriodSelector.new(root, {
				stockChart: stockChart
			}),
			seriesSwitcher,
			am5stock.DrawingControl.new(root, {
				stockChart: stockChart
			}),
			am5stock.ResetControl.new(root, {
				stockChart: stockChart
			}),
			am5stock.SettingsControl.new(root, {
				stockChart: stockChart
			})
			]
		})
		
		}); // end am5.ready()
	</script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous">
  </script>
</body>
</html>