<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link href='../static/src/images/stock-icon.png' rel="icon">
	<!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->

	<title>Chart</title>

  <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
	</style>

</head>
<body>
	<!-- HTML -->
	<div id="chartdiv"></div>
	
	<!-- Resources -->
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
	<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-database-compat.js"></script>


	<!-- Chart code -->
	<script>	
		// Your web app's Firebase configuration
		const firebaseConfig = {
			apiKey: "AIzaSyCNXJrWedeiAN_nnR-hkCendonMOMG_YZ4",
			authDomain: "kis-project-29909.firebaseapp.com",
			projectId: "kis-project-29909",
			storageBucket: "kis-project-29909.appspot.com",
			messagingSenderId: "497737048002",
			appId: "1:497737048002:web:4f79613b7c75541873c05b",
			databaseURL: "https://kis-project-29909-default-rtdb.firebaseio.com/"
		};

		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);

		// Initialize Realtime Database and get a reference to the service
		var database = firebase.database();
		function writeUserData(value) {
            firebase.database().ref('users/').set(value);
		}
		writeUserData("Hello~~")

    am5.ready(function() {
      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5.Root.new("chartdiv");
      
      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([
        am5themes_Animated.new(root)
      ]);
      
      // Create chart
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
      var chart = root.container.children.push(
        am5percent.PieChart.new(root, {
          endAngle: 270
        })
      );
      
      // Create series
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
      var series = chart.series.push(
        am5percent.PieSeries.new(root, {
          valueField: "value",
          categoryField: "category",
          endAngle: 270
        })
      );
      
      series.states.create("hidden", {
        endAngle: -90
      });
      
      // Set data
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
      series.data.setAll([{
        category: "Lithuania",
        value: 501.9
      }, {
        category: "Czechia",
        value: 301.9
      }, {
        category: "Ireland",
        value: 201.1
      }, {
        category: "Germany",
        value: 165.8
      }, {
        category: "Australia",
        value: 139.9
      }, {
        category: "Austria",
        value: 128.3
      }, {
        category: "UK",
        value: 99
      }]);
      
      series.appear(1000, 100);
      
  }); // end am5.ready()
	</script>
</body>
</html>